/* main header css */

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.bg-light {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.navbar-light .navbar-brand {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 15px;
}
